<div class="container">
    {% extends "layout.html"%}

    {% block content%}
    <div class="container">
        {% block title%}Login User{% endblock %}


        {% if message %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
        {% endif %}

        <div class="container">
            <h3 class="text-center">Login de User</h3>
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">E-mail</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Entre com seu e-mail">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Entre com sua senha">
                </div>
                <button class="btn btn-primary">Entrar</button>
            </form>
        </div>
    </div>
    {% endblock %}
</div>